
.container { 
    margin-top: 20px;
    margin-bottom: 40px; 
}

.modebar{
    display: none !important;
}

.div_chart {
    margin-top: 40px;
}

.div_sub_plot {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px; 
    width: 200px;
  }

  .div_sub_plot_slim {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 100px;
  }

.sort-btn {
    margin-bottom: 10px; 
  }

.span_show {
    font-size:70%;
    overflow-wrap: break-word;
}

.span_hide {
    display:none;
}

.legend_box_green {
    background-color: rgba(26,150,65, .5);
    padding: 5px;
}

.legend_box_red {
    background-color: rgba(215,25,28,.5);
    padding: 5px;
}

.legend_box_gray {
    background-color: rgba(204,204,204,.5);
    padding: 5px;
}