
.container { 
    margin-top: 20px;
    margin-bottom: 40px; 
}

.modebar{
    display: none !important;
}

.div_chart {
    margin-top: 40px;
}

.location_div {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px; 
    width: 200px;
  }

  .location_div_slim {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 100px;
  }

.sort-btn {
    margin-bottom: 10px; 
  }

.span_show {
    font-size:70%;
    overflow-wrap: break-word;
}

.span_hide {
    display:none;
}